In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/ManonYa09/Machine_Learning_G3/refs/heads/main/Dataset/2.%20Bank%20Customer%20Churn%20Prediction.csv')

### 1. Quick Exploration

In [151]:
4143131*134134341431

555736148147360461

In [6]:
df.sample(n = 4)

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
1165,15723907,712,Germany,Female,49,5,154776.42,2,0,0,196257.68,0
9550,15721715,769,France,Female,40,9,133871.05,1,1,1,50568.02,0
2091,15672945,661,France,Female,37,5,136425.18,1,1,0,81102.81,0
1446,15680855,637,France,Male,33,2,145731.83,1,0,1,109219.43,0

In [10]:
# df.info()

### 2. EDA
#### 2.1 Diagnostics Analysis

In [54]:
df.groupby(df['country'])['churn'].value_counts()

country  churn
France   0        4204
         1         810
Germany  0        1695
         1         814
Spain    0        2064
         1         413
Name: count, dtype: int64

In [58]:
df.groupby(df['gender'])['churn'].value_counts()

gender  churn
Female  0        3404
        1        1139
Male    0        4559
        1         898
Name: count, dtype: int64

###  3.Feature Engineering

#### 3.1 Categorical
Convert `Categorical` columns to `Numerical`
```python
sklearn.preprocessing import 
```

In [93]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [97]:
Ordinal = OrdinalEncoder()
Onehot = OneHotEncoder()

In [115]:
Onehot.fit_transform(df[['gender']]).toarray()

In [117]:
Ordinal.fit_transform(df[['gender']])

In [42]:
df['country'] ## array(1d) -> series[1-d] , 2-d Pandas, Tensor

In [82]:
df1 = df[['country']].sample(100)

In [86]:
categorical = ['country', 'gender']

#### categorical convert to number

In [88]:
Onehot.fit(df[categorical])

OneHotEncoder()

In [119]:
Onehot.transform(df[categorical]).toarray()

In [84]:
Onehot.transform(df1)

<100x3 sparse matrix of type '<class 'numpy.float64'>'
	with 100 stored elements in Compressed Sparse Row format>

In [62]:
# df[['country']]

In [50]:
Onehot.fit_transform(df[['country']]).toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

#### 3.2 Feature Scaling

In [179]:
from sklearn.preprocessing import StandardScaler, MaxAbsScaler

In [157]:
numerical =['age']

In [169]:
df1 = df.copy()

In [183]:
df1['age1'] = MaxAbsScaler().fit_transform(df[['age']])

In [185]:
df1['age1'].describe()

count    10000.000000
mean         0.423063
std          0.113998
min          0.195652
25%          0.347826
50%          0.402174
75%          0.478261
max          1.000000
Name: age1, dtype: float64

In [171]:
df1['age'] = StandardScaler().fit_transform(df[['age']])

In [ ]:
# 2* (10**(-16))

In [175]:
# mean = 0 = 2.318146e-16

2.318146e-16

In [173]:
df1['age'].describe()

count    1.000000e+04
mean     2.318146e-16
std      1.000050e+00
min     -1.994969e+00
25%     -6.600185e-01
50%     -1.832505e-01
75%      4.842246e-01
max      5.061197e+00
Name: age, dtype: float64

#### 3.3 Cross Validation

In [ ]:
training, testing

In [122]:
x = df.drop(columns='churn')
y = df['churn']

In [124]:
from sklearn.model_selection import train_test_split

In [134]:
# a, b = df.shape

In [141]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30)

In [145]:
print('Training Size:', x_train.shape)
print('Testining Size:',x_test.shape)

Training Size: (7000, 11)
Testining Size: (3000, 11)

In [136]:
y_train.head(2)

8234    1
9568    0
Name: churn, dtype: int64

In [138]:
x_train.head(2)

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary
8234,15677796,766,Germany,Male,47,9,129289.98,1,1,0,169935.46
9568,15677522,593,France,Male,33,1,0.00,2,0,0,9984.40

In [ ]:
input : x : x_train, x_test
output  y: y_train, y_test